<footer class="footer">
    <div class="footer-container">
      <!-- Logo Section -->
      <div class="footer-logo-section">
       
            <i class="fa-solid fa-pen-nib"></i><!-- Updated to graphic design icon -->
            <span>Kais Kharrat</span> <!-- Updated name -->

        <p>Software engineer open to new challenges</p>
        <div class="footer-social-icons">
          <i class="fab fa-behance"></i>
          <i class="fab fa-linkedin-in"></i>
          <i class="fab fa-instagram"></i>
        </div>
      </div>
  
      <!-- Links Section -->
      <div class="footer-links-section">
        <h3>Hot Links</h3>
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#projects">Projects</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </div>
  
      <!-- Others Section -->
      <div class="footer-others-section">
        <h3>Others</h3>
        <ul>
          <li><a href="#privacy">Privacy Policy</a></li>
          <li><a href="#terms">Terms and Conditions</a></li>
          <li><a href="#cookie">Cookie Policy</a></li>
        </ul>
      </div>
  
      <!-- Contact Section -->
      <div class="footer-contact-section">
        <h3>Contacts</h3>
        <ul>
          <li><i class="fas fa-envelope"></i> kaiskharrat0&#64;gmail.com</li>
          <li><i class="fas fa-phone"></i> +216 29536778</li>
          <li><i class="fas fa-map-marker-alt"></i>  Gouvernorat Sfax, Tunisie</li>
        </ul>
      </div>
    </div>
  
    <!-- Footer Bottom Section -->
    <div class="footer-bottom">
      <p>Copy right © All rights reserved -| 2024</p>
    </div>
  </footer>
  