<div id="home" class="home-container">
    <!-- Introduction Section -->
    <div class="intro-section">
      <div class="intro-text">
        <p class="greeting">Hello there! I'm <span class="name-highlight">Kais Kharrat</span></p>
        <h1 class="title">Graphic Designer</h1>
        <p class="description">
          Creative graphic designer with expertise in branding, content creation, and visual storytelling. Passionate about delivering innovative and visually compelling designs for businesses and individuals.
        </p>
        <p class="location">Working remotely from Tunisia</p>
      </div>
  
      <!-- Profile Image -->
      <div class="profile-image">
        <img src="assets/profile-image.png  " alt="Kais Kharrat">
      </div>
    </div>
  
    <!-- Experience Stats Section -->
    <div class="stats-section">
      <div class="stat-item">
        <h2>+3</h2>
        <p>Years Experience</p>
      </div>
      <div class="stat-item">
        <h2>+10</h2>
        <p>Clients Worldwide</p>
      </div>
      <div class="stat-item">
        <h2>+25</h2>
        <p>Completed Projects</p>
      </div>
    </div>
    <div class="clients-section">
        <div class="clients-header">
          <h2>My Awesome Clients</h2>
          <p>We've had the privilege of working with some fantastic clients from diverse industries. Their trust in our services drives us to consistently deliver high-quality, creative solutions tailored to their unique needs.</p>
        </div>
      
        <!-- Clients Logos -->
        <div class="clients-logos">
          <img src="assets/miel.png" alt="Client 1 Logo">
          <img src="assets/Bibo.png" alt="Client 2 Logo">
          <img src="assets/sun.png" alt="Client 3 Logo">
          <img src="assets/Elco.png" alt="Client 4 Logo">
          <img src="assets/15.png" alt="Client 5 Logo">
          <img src="assets/DR.png" alt="Client 6 Logo">
          <img src="assets/nads.png" alt="Client 7 Logo">

        </div>
      </div>
      
  </div>
  